/* Variables for CV*/
$primary-font: 'Noto Sans JP', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$page-margin: .6in;
$top-section-height: 2.4in;

$fg: rgb(24, 24, 24);
$bg: rgb(248, 248, 248);

$accent-fg: rgb(184, 184, 189);
$accent-bg: rgb(50, 59, 76);

/* Variables for homepage template*/
// Default Colors Set
$default: #444;
$default-light: #666;
$default-dark: #222;

// Primary Colors Set
$primary: #68A4C4;
$primary-light: #a2cce3;
$primary-dark: #32627b;

// Secondary Colors Set
$secondary: #1e4356;
$secondary-light: #7b9bab;
$secondary-dark: #0d2735;

// Link Colors
$links: #4fa6d5;
$links-hover: #45beff;

/// Fonts
$font-default: 'Open Sans', sans-serif;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background-color: $secondary-dark;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 130px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: $secondary;
    position: absolute;
    width: 100%;

    &.header-transparent {
        background: none;
    }

    &.header-scrolled {
        background: rgba($secondary, 0.8);
        height: 60px;
    }

    .logo {
        margin: 0 auto;

        .text-light {
            box-shadow: 0 0 3px #ffffff6b;
            display: flex;
            width: 240px;
            text-align: center;
            height: 50px;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }

        h1 {
            font-size: 32px;
            padding: 4px 0;
            font-weight: 400;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        h1 a, h1 a:hover {
            color: #fff;
            text-decoration: none;
        }

        img {
            padding: 0;
            margin: 0;
            max-height: 40px;
        }
    }
}

#main {
    margin-top: 80px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    background-color: $secondary;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 130%;
        height: 95%;
        background: linear-gradient(to right, rgba($secondary, 0.8), rgba(30, 85, 52, 0.6)), url("../img/hero-bg.jpg") center top no-repeat;
        z-index: 0;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%) rotate(0deg);
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 130%;
        height: 96%;
        background: $primary;
        opacity: 0.9;
        z-index: 0;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%) translateY(18px) rotate(2deg);
    }

    h2 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 700;
    }

    p {
        width: 80%;
        animation-delay: 0.4s;
        margin: 0 auto 30px auto;
        color: #fff;
    }

    .btn-get-started {
        font-family: $font-primary;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: #fff;
        animation-delay: 0.8s;
        border: 2px solid $primary;
        &:hover {
            background: $primary;
            color: #fff;
            text-decoration: none;
        }
    }

  
    @media (min-width: 1024px) {
        p {
            width: 60%;
        }
        .carousel-control-prev, .carousel-control-next {
            width: 5%;
        }
    }

    @media (max-width: 768px) {

        &::after {
            width: 180%;
            height: 95%;
            border-radius: 0 0 50% 50%;
            transform: translateX(-50%) rotate(0deg);
        }
  
        &::before {
                top: 0;
                width: 180%;
                height: 94%;
                border-radius: 0 0 50% 50%;
                transform: translateX(-50%) translateY(20px) rotate(4deg);
        }
    }

    @media (max-width: 575px) {
        h2 {
            font-size: 30px;
        }

        &::after {
            left: 40%;
            top: 0;
            width: 200%;
            height: 95%;
            border-radius: 0 0 50% 50%;
            transform: translateX(-50%) rotate(0deg);
        }
  
        &::before {
                left: 50%;
                top: 0;
                width: 200%;
                height: 94%;
                border-radius: 0 0 50% 50%;
                transform: translateX(-50%) translateY(20px) rotate(4deg);
        }
    }

}

/*--------------------------------------------------------------
# Hero No Slider Section
--------------------------------------------------------------*/
#hero-no-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
  
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgba($secondary, 0.8), rgba($secondary, 0.6)), url("../img/hero-bg.jpg") center top no-repeat;
    }

    h2 {
        color: #fff;
        margin-bottom: 15px;
        font-size: 48px;
        font-weight: 700;
    }

    p {
        color: #fff;
    }

    .btn-get-started {
        font-family: $font-primary;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: #fff;
        animation-delay: 0.8s;
        border: 2px solid $primary;
        &:hover {
            background: $primary;
            color: #fff;
            text-decoration: none;
        }
    }

    @media (max-width: 575px) {
        h2 {
            font-size: 30px;
        }
    }
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
// General styles
.cv-creator-container {
    display: flex;
    background-color: $secondary;
    z-index: 5;
    
    .btn-print-cv {
        font-family: $font-primary;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: #fff;
        animation-delay: 0.8s;
        border: 2px solid $primary;
        &:hover {
            background: $primary;
            color: #fff;
            text-decoration: none;
        }
    }
}
.cv-creator {
    margin: 120px auto 0 auto;
    z-index: 5;
    background-color: #1e4356b0;
    border-radius: 8px;
    box-shadow: 0 0 3px #ffffff4d;
    text-align: center;
}

.resume {
    word-wrap: break-word;
    display: flex;
    width: 8.5in;
    height: 11in;
    background-color: $bg;
    color: $fg;
    font-family: $secondary-font;
    text-align: left;
    
    section {
        margin-bottom: 1.5em;
        position: relative;
    }

    h1, h2, h3, h4, h5 {
        font-family: $primary-font;
        color: $accent-bg;
    }

    h2 {
        font-size: 1.4em;
        letter-spacing: .1em;
        border-bottom: 1.5px solid $accent-bg;
        padding: .3em 0;
        margin-bottom: 1em;
    }

    h4 {
        font-size: .9em;
        margin-bottom: .2em;
        font-weight: bold;
    }

    p {
        font-size: .8em;
        margin-bottom: .9em;
    }

    li {
        font-size: .9em;
    }

    i {
        color: $bg;
    }

    .edit-icon-container {
        position: absolute;
        top: 0px;
        right: 0px;
        height: .3in;
        width: .3in;
        display: flex;
        align-items: center;
        border-radius: 6%;
          
        .edit-section {
            margin: 0 auto;
            font-size: 1.5em;
        }
    }

    // Left Column

    .sidebar {
        width: 32%;
        background-color: $accent-bg;
        color: $accent-fg;
        padding-left: $page-margin;
        padding-bottom: $page-margin;

        .edit-icon-container{
            box-shadow: 0 0 3px $bg;
            margin-right: .5em;
            &:hover {
                background-color: $bg;
            }
            i {
                color: $bg;
                &:hover {
                    color: $accent-bg;
                }
            }
        }

        h1, h2, h3, h4, h5 {
            font-family: $primary-font;
            color: $bg;
        }

        h2 {
            border-bottom: 1.5px solid $bg;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin: .5em 0;
            }
            
            i {
                margin-right: .5em;
            }           
        }

        .portrait-container {
            display: flex;
            align-items: center;
            height: $top-section-height;

            .edit-icon-container {
                margin-top: .6in;
            }

            .portrait {
                background-color: rgb(189, 189, 189);
                width: 1.61in;
                height: 1.61in;
                border-radius: 50%;
                margin-top: 1em;

                img {
                    width: 1.62in;
                    height: 1.62in;
                    border-radius: 50%;
                    background-color: $accent-bg;
                }
            }
        }

        .education {
            .institution {
                margin-bottom: 1em;
                p {
                    margin-bottom: .2em;
                }
            }
        }

        .skills {
            li {
                margin: 0;
            }
        }
    }

    // Right Column
    
    .main-content {
        width: 68%;
        padding: $page-margin $page-margin $page-margin 2.5em;

        .edit-icon-container{
            box-shadow: 0 0 3px $accent-bg;

            &:hover {
                background-color: $accent-bg;
            }
            i {
                color: $accent-bg;
                &:hover {
                    color: $bg;
                }
            }
        }

        ul {
            padding-left: 1em;
        }
        
        .introduction {
            margin: 0;
            height: calc(#{$top-section-height} - #{$page-margin} + 1.5em);

            .first-name {
                font-weight: bold;
            }

            .professional-title {
                letter-spacing: .15em;
                margin-bottom: 1em;
            }

            p {
                margin: 0;
            }
        }

        .work-experience {
            .position {
                font-weight: normal;
            }
        }
    }
}

/* Form Button Transition */

.edit-icon-enter {
    opacity: 0;
    transform: scale(0.9);
}
.edit-icon-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.edit-icon-exit {
    opacity: 1;
}
.edit-icon-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}


/* The Modal (background) */
.form-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.form-container {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background: darken($secondary-dark, 2);
    padding: 0 0 30px 0;
    color: $accent-fg;
    font-size: 14px;


    .footer-top {
        background: $secondary;
        border-top: 1px solid lighten($secondary-dark, 10);
        border-bottom: 1px solid lighten($secondary-dark, 5);
        padding: 60px 0 30px 0;
        height: 90px;
    }

    .copyright {
        text-align: center;
        padding-top: 30px;
    }

}





